@tailwind base;
@tailwind components;
@tailwind utilities;

.rich-text-content {
  pre {
    color: white;
    background-color: black;
    padding: 1rem;

    code {
      font-weight: normal; // pre要素内のcode要素のテキストは普通の太さ
    }
  }

  code {
    font-weight: bold;
  }

  a {
    color: blue;
    border-bottom: 1px solid blue;
  }
}
